@font-face {
    font-family: domoai;
    src: url(../fonts/DOMOAI__.TTF);
}
@font-face {
    font-family: domoan;
    src: url(../fonts/DOMOAN__.TTF);
}
@font-face {
    font-family: kna;
    src: url(../fonts/kna__.TTF);
}
body{
    background-color: #222222;
    color: #cfcfcf;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}
.lead {
    font-family: domoai;
    font-size: 25px;
}
.domoan {
    font-family: domoan;    
}
h1 {
    font-family: 'kna', 'Droid Serif', Georgia, Times, serif;
    font-size: 49px;
    line-height: 65px;
}
h2 {
    color:white;
} 
p {
    font-size: 14px;
    line-height: 25px;
}
.choice {
    margin-top: 20px;
}
.col-md-6 {
    opacity: 0.5;
}
.col-md-6:hover {
    opacity: 1;
}
.background-champ {
    position: relative;
    background: #5C97FF;
    overflow: hidden;
    
    width: 570px;
    height: 275px;
    background-position: center;

    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;    
}
.background-champ .content {
    height: 100%;
    background-color: black;
    opacity: 0.6;
    color: white;
    padding: 15px;
}
.fun {
    background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Garen_0.jpg');
}
.work {
    background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Thresh_0.jpg');    
}
p.senpaipls {
    margin-top: 10px;
    font-family: domoan;  
    font-size: 30px;
}
.background-champ .content h2 {
    font-family: domoan; 
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}
.background-champ .content p {
    font-family: domoan; 
    text-transform: uppercase;
    font-size: 25px;
    margin: 6px;
}