@font-face {
    font-family: domoai;
    src: url(../fonts/DOMOAI__.TTF);
}
@font-face {
    font-family: domoan;
    src: url(../fonts/DOMOAN__.TTF);
}
@font-face {
    font-family: kna;
    src: url(../fonts/kna__.TTF);
}
body{
    background-color: #222222;
    color: #cfcfcf;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}
.lead {
    font-family: domoai;
    font-size: 25px;
}
.domoan {
    font-family: domoan;    
}
h1 {
    font-family: 'kna', 'Droid Serif', Georgia, Times, serif;
    font-size: 49px;
    line-height: 65px;
}
 
p {
    font-size: 14px;
    line-height: 25px;
}
.choice {
    margin-top: 20px;
}
.col-md-6 {
    opacity: 0.5;
}
.col-md-6:hover {
    opacity: 1;
}